<section id="app-todo-list">
  <div class="container" *ngIf="taskList">
    <div class="row">
      <div class="col">
        <table id="todoList_table" class="table table-striped table-responsive">
          <!-- <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col" class="th_task_name">ToDo</th>
                <th scope="col">Operations</th>
              </tr>
            </thead> -->
          <tbody>
            <tr *ngFor="let task of taskList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <span class="stack">
                  <input type="checkbox" class="checkbox" name="checkTask" value="" />
                  <i class="fa-regular fa-circle"></i>
                  <i class="fa-solid fa-circle-check"></i>
                </span>
              </td>
              <td class="td_task_name">
                <span class="span_task">{{ task }}</span>
              </td>
              <td>
                <button type="button" class="removeButton btn_invinsible" (click)="removeTask(i)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
