<section id="app-input-field">
  <div class="container">
    <div class="row">
      <div class="col">
        <form #addTodoForm="ngForm" (ngSubmit)="submitTodo(addTodoForm)">
          <div id="input_field_wrapper">
            <div class="input-group form-group">
              <input
                type="text"
                name="addTodo"
                id="inp_todo"
                class="form-control"
                placeholder="create new todo"
                required
                minlength="3"
                #todo="ngModel"
                ngModel
              />
              <button
                type="submit"
                class="input_group_icon"
                id="plus_icon"
                class="input-group-text"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
