$font-family_default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-decoration_default: none;
$color_default: #333333;
$color_white: #ffffff;
$color_red: #fc2323;
$color_blue: #168cfa;
$color_green: #6ba317;
